<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>user</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
  <h1 class="mb-3">user</h1>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <user>
        <input type="hidden" id="user-id" D>

        <header class="mb-4">
          <input type="text" class="form-control" placeholder="제목" id="userEmail" th:value="${users.userEmail}">
        </header>
        <section class="mb-5">
          <input class="form-control" placeholder="내용" id="userPhNm" th:text="${users.userPhNm}"></input>
          <input class="form-control" placeholder="내용" id="userPw" th:text="${users.userPw}"></input>
        </section>

        <button th:if="${users.userId} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
        <button th:if="${users.userId} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>
      </user>
    </div>
  </div>
</div>
<script src="/js/token.js"></script>
<script src="/js/user.js"></script>
</body>
